a{
    background-color: rgba(226, 226, 23, 0.966);
    padding: 15px;
    margin: 130px;
    color: rgb(124, 11, 238);
}
li{
    background-color: orange;
    margin: 10px;
}
h2{
    background-color:red ;
    color: blanchedalmond;
}
.fundo-roxo{
    background-color: purple;
    color: blanchedalmond;
}
